/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea

*.txt
sftp-config.json

/public/theme/*.html
/public/theme/img/*.png
/public/images/produtos/*
/public/imagem/comprovantes/*
